[% USE q = Qgoda %]
<h1>[% q.anchor(name='start') %] / [% asset.year %]</h1>

<div class="container">
	<div class="row">
		<div class="col-sm">
			<a href="01/">[% q.strftime('%B', asset.year _ '-1-1', asset.lang) %]</a>
		</div>
		<div class="col-sm">
			<a href="02/">[% q.strftime('%B', asset.year _ '-2-1', asset.lang) %]</a>
		</div>
		<div class="col-sm">
			<a href="03/">[% q.strftime('%B', asset.year _ '-3-1', asset.lang) %]</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<a href="04/">[% q.strftime('%B', asset.year _ '-4-1', asset.lang) %]</a>
		</div>
		<div class="col-sm">
			<a href="05/">[% q.strftime('%B', asset.year _ '-5-1', asset.lang) %]</a>
		</div>
		<div class="col-sm">
			<a href="06/">[% q.strftime('%B', asset.year _ '-6-1', asset.lang) %]</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<a href="07/">[% q.strftime('%B', asset.year _ '-7-1', asset.lang) %]</a>
		</div>
		<div class="col-sm">
			<a href="08/">[% q.strftime('%B', asset.year _ '-8-1', asset.lang) %]</a>
		</div>
		<div class="col-sm">
			<a href="09/">[% q.strftime('%B', asset.year _ '-9-1', asset.lang) %]</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<a href="10/">[% q.strftime('%B', asset.year _ '-10-1', asset.lang) %]</a>
		</div>
		<div class="col-sm">
			<a href="11/">[% q.strftime('%B', asset.year _ '-11-1', asset.lang) %]</a>
		</div>
		<div class="col-sm">
			<a href="12/">[% q.strftime('%B', asset.year _ '-12-1', asset.lang) %]</a>
		</div>
	</div>
</div>