[% USE q = Qgoda %]
<h1>[% q.anchor(name='start') %] / [% asset.year %]</h1>

<div class="container">
	<div class="row">
		<div class="col-sm">
			<a href="01/">
			[% INCLUDE 'partials/body/month.html' month=1 %]
			</a>
		</div>
		<div class="col-sm">
			<a href="02/">
			[% INCLUDE 'partials/body/month.html' month=2 %]
			</a>
		</div>
		<div class="col-sm">
			<a href="03/">
			[% INCLUDE 'partials/body/month.html' month=3 %]
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<a href="04/">
			[% INCLUDE 'partials/body/month.html' month=4 %]
			</a>
		</div>
		<div class="col-sm">
			<a href="05/">
			[% INCLUDE 'partials/body/month.html' month=5 %]
			</a>
		</div>
		<div class="col-sm">
			<a href="06/">
			[% INCLUDE 'partials/body/month.html' month=6 %]
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<a href="07/">
			[% INCLUDE 'partials/body/month.html' month=7 %]
			</a>
		</div>
		<div class="col-sm">
			<a href="08/">
			[% INCLUDE 'partials/body/month.html' month=8 %]
			</a>
		</div>
		<div class="col-sm">
			<a href="09/">
			[% INCLUDE 'partials/body/month.html' month=9 %]
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<a href="10/">
			[% INCLUDE 'partials/body/month.html' month=10 %]
			</a>
		</div>
		<div class="col-sm">
			<a href="11/">
			[% INCLUDE 'partials/body/month.html' month=11 %]
			</a>
		</div>
		<div class="col-sm">
			<a href="12/">
			[% INCLUDE 'partials/body/month.html' month=12 %]
			</a>
		</div>
	</div>
</div>